- name: Install Redis server
  apt:
    name: redis-server
    state: present
    update_cache: yes

- name: Enable and start Redis service
  systemd:
    name: redis-server
    enabled: yes
    state: started

- name: Configure Redis for cluster caching
  lineinfile:
    path: /etc/redis/redis.conf
    regexp: '^#?bind'
    line: 'bind 0.0.0.0'
    backup: yes

- name: Allow external connections and restart Redis
  systemd:
    name: redis-server
    state: restarted