---
# Molecule configuration for gitlab role testing
# Uses variables from ansible/molecule-defaults.yml and environment
dependency:
  name: galaxy
driver:
  name: "${MOLECULE_DRIVER:-docker}"
platforms:
  - name: "${MOLECULE_INSTANCE_NAME:-gitlab-test}"
    image: "${MOLECULE_TEST_IMAGE:-geerlingguy/docker-ubuntu2204-ansible:latest}"
    command: ""
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup:rw
    cgroupns_mode: host
    privileged: true
    pre_build_image: true
provisioner:
  name: ansible
  config_options:
    defaults:
      interpreter_python: auto_silent
      callback_whitelist: profile_tasks, timer, yaml
  inventory:
    host_vars:
      "${MOLECULE_INSTANCE_NAME:-gitlab-test}":
        ansible_user: "${MOLECULE_ANSIBLE_USER:-root}"
verifier:
  name: ansible
lint: |
  set -e
  yamllint .
  ansible-lint .
