- name: Create namespace
  shell: kubectl create ns odoo || true
  environment:
    KUBECONFIG: /etc/rancher/k3s/k3s.yaml

- name: Deploy PostgreSQL via Helm
  shell: |
    helm repo add bitnami https://charts.bitnami.com/bitnami
    helm install postgres bitnami/postgresql \
      --namespace odoo \
      --set auth.postgresPassword=postgres123 \
      --set auth.username=odoo \
      --set auth.password=odoo123 \
      --set auth.database=odoo \
      --set primary.persistence.enabled=false
  environment:
    KUBECONFIG: /etc/rancher/k3s/k3s.yaml

- name: Deploy Redis for cache
  shell: |
    helm install redis bitnami/redis --namespace odoo --set architecture=standalone --set auth.enabled=false --set master.persistence.enabled=false
  environment:
    KUBECONFIG: /etc/rancher/k3s/k3s.yaml

- name: Deploy Odoo cluster
  shell: |
    kubectl apply -n odoo -f - <<EOF
    apiVersion: apps/v1
    kind: Deployment
    metadata:
      name: odoo
    spec:
      replicas: 3
      selector:
        matchLabels:
          app: odoo
      template:
        metadata:
          labels:
            app: odoo
        spec:
          containers:
          - name: odoo
            image: odoo:17
            ports:
              - containerPort: 8069
            env:
              - name: HOST
                value: postgres-postgresql.odoo.svc.cluster.local
              - name: USER
                value: odoo
              - name: PASSWORD
                value: odoo123
              - name: PORT
                value: "5432"
              - name: DB_NAME
                value: odoo
              - name: REDIS_URL
                value: redis-master.odoo.svc.cluster.local
    ---
    apiVersion: v1
    kind: Service
    metadata:
      name: odoo
    spec:
      selector:
        app: odoo
      ports:
      - name: web
        port: 8069
        targetPort: 8069
      type: LoadBalancer
    EOF
  environment:
    KUBECONFIG: /etc/rancher/k3s/k3s.yaml