apiVersion: v1
kind: Service
metadata:
  name: {{ include "odoo.fullname" . }}
  labels:
    {{- include "odoo.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
    - port: 8072
      targetPort: longpolling
      protocol: TCP
      name: longpolling
  selector:
    {{- include "odoo.selectorLabels" . | nindent 4 }}
