---
# Molecule configuration for k3s role testing
dependency:
  name: galaxy
driver:
  name: docker
platforms:
  - name: k3s-test
    image: geerlingguy/docker-ubuntu2204-ansible:latest
    command: ""
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup:rw
    cgroupns_mode: host
    privileged: true
    pre_build_image: true
provisioner:
  name: ansible
  config_options:
    defaults:
      interpreter_python: auto_silent
      callback_whitelist: profile_tasks, timer, yaml
  inventory:
    host_vars:
      k3s-test:
        ansible_user: root
verifier:
  name: ansible
lint: |
  set -e
  yamllint .
  ansible-lint .
