# kubernetes/overlays/stage/configmap-patch.yaml
apiVersion: v1
kind: ConfigMap
metadata:
  name: odoo-config
data:
  odoo.conf: |
    [options]
    addons_path = /mnt/extra-addons,/usr/lib/python3/dist-packages/odoo/addons
    data_dir = /var/lib/odoo
    
    ; Database
    db_host = postgres
    db_port = 5432
    db_maxconn = 64
    db_name = odoo_stage
    db_template = template0
    
    ; Logging
    logfile = False
    log_level = info
    log_handler = :INFO
    syslog = False
    
    ; Workers
    workers = 3
    max_cron_threads = 2
    
    ; Limits
    limit_memory_hard = 2684354560
    limit_memory_soft = 2147483648
    limit_request = 8192
    limit_time_cpu = 600
    limit_time_real = 1200
    
    ; HTTP
    proxy_mode = True
    xmlrpc_port = 8069
    longpolling_port = 8072
    
    ; Security
    list_db = False
    admin_passwd = ${ADMIN_PASSWORD}
    
    ; Performance
    db_maxconn_gevent = 3