- name: Configure Hlibodar infrastructure
  hosts: all
  become: yes
  gather_facts: true

  roles:
    - { role: gitlab, when: "'gitlab' in group_names" }
    - { role: gitlab_runner, when: "'k3s_nodes' in group_names or 'k3s_master' in group_names" }
    - { role: monitoring, when: "'monitoring' in group_names" }
    - { role: redis, when: "'redis' in group_names" }
    - { role: k3s, when: "'k3s_master' in group_names or 'k3s_nodes' in group_names" }
    - { role: nginx_ingress, when: "'k3s_master' in group_names" }
    - { role: odoo_cluster, when: "'k3s_master' in group_names" }
    - { role: prometheus_grafana, when: "'monitoring' in group_names" }

